body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    all: unset;
}
a:hover{
    text-decoration: underline;
}
.menu{
    margin: 0;
    padding: 20px;
}
.grid-layout{
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "menu"
    "banner"
    "principal"
    "footer"
    ;
}
.menu{
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e0d1b;
    color: white;
}
.menu img{
    width: 90px;
}
.menu-links-mobile{
    padding: 10px;
}
.menu-links-desktop{
    display: none;
}
.banner{
    grid-area: banner;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-color: #0e0d1b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loop 6s infinite
}
@keyframes loop{
    33%{
        background-color: #d9364d;
    }
    66%{
        background-color: #38aecf;
    }
    100%{
        background-color: #0e0d1b;
    }
}

.principal{
    grid-area: principal;
    background-color: #0e0d1b;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    overflow-y: auto;
    height: 100%;
}
.grid-container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    place-content: center;
}
.juegos{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: #38aecf;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.juegos img{
    width: 100%;
}
.actual img{
    transition: all 0.5s ease;
}
.actual img:hover{
    scale: 1.4;
}
.played{
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
.played:hover{
    filter: grayscale(0%);
}
.next{
    transform: rotateY(180deg);
    filter: blur(4px);
    transition: all 0.5s ease;
}
.next:hover{
    transform: rotateY(0deg);
    filter: blur(0);
}
.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #d9364d;
    color: white;
}
@media (min-width:576px){
    .grid-layout{
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 30% 70%;
        grid-template-areas:
        "menu banner"
        "menu principal"
        "footer footer"
        ;
    }
    .menu-links-mobile{
        display: none;
    }
    .menu-links-desktop{
        display: contents;
    }
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: start;
        min-width: 150px;
        background-color: #0e0d1b;
        color: white;
    }
}
@media (min-width: 992px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}